body {
    font-family: "Raleway", sans-serif;
    background-color: #000000;
  }
  
.navbar {
    background-color: #000000;
}
.display-3 {
    color: rgb(102, 15, 153);
}

.foto1{
    margin: 0;
    width: 500px;
    height: 500px;
    border: 10px inset #cb43f1;
    border-radius: 50%;
}

.my-4{
    color: rgb(102, 15, 153);
}

.nav-link {
    color:rgb(102, 15, 153);
    font-size: 30px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  /* Hero Section */
  
  #Hero-Section {
    background-image: url(/assets/imgs/desarrollo-web-a-medida.png);
    background-size: cover;
    background-position: left;
  }

  #nombre {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px;
  }

 
  /* Mis trabajos */
  
  #Mis-trabajos .image-top {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 5px;
    padding: 20px;
  }

  .my-5{
    font-weight: 400px;
    font-size: 40px;

  }
  #Mis-trabajos {
    background-color: rgb(30, 13, 40);
  }
  
  /* Contacto */
  
  #Contacto form label {
    font-weight: 700;
    color: #373a3c;
  }
  
  .display-4 {
    color: rgb(102, 15, 153);
  }

  @media (max-width: 768px) {
    #Contacto form label {
      font-weight: 400;
    }
  
    .navbar-brand{
      width: 200px;
    }
  
  }

  .btn{
    background-color: rgb(102, 15, 153);
    padding: 15px;
  }
/*Footer*/

.text-footer{
    color:rgb(102, 15, 153);
    font-size: 25px;
}




